<div class="header">
    <div class="menu menu-item">
        &#9776;
    </div>
    <div class="header-title menu-item">
        DD for Dogs
    </div>
    <div class="logo menu-item">
        🐾
    </div>
</div>
<div class="container">
    <div class="left-pain">
        <div class="title-container">
            <div class="title">
                Schedule My Dog Delivery
            </div>
        </div>
        <div class="text-block">
            <p>
                It's been a great adventure with your dog, now it's time to send
                them home! <br /><br />
                Let us know which dog needs a DD, who will be there for the
                delivery, and what day you want them dropped off.<br /><br />
                We will make sure there is no "Dog Driving" and that they get home
                safe!
            </p>
        </div>
    </div>
    <div
        *ngIf="_formReady"
        class="form-block"
    >
        <form
            [formGroup]="_form"
            (ngSubmit)="submitForm(_form)"
        >
            <div class="row">
                <!-- dog control -->
                <div class="co">
                    <select formControlName="dog">
                        <option value="default" class="hidden-option" disabled>
                            Dog for Pickup
                        </option>
                        <option
                            *ngFor="let dog of backendPayload.dogs"
                            [value]="JSON.stringify(dog)"
                        >
                            {{ dog?.name }}
                        </option>
                    </select>
                </div>

                <!-- person at dropoff -->
                <div class="col">
                    <select formControlName="dropoffPersonName">
                        <option value="default" class="hidden-option" disabled>
                            Authorized Receivers
                        </option>
                        <option
                            *ngFor="let name of backendPayload.dropoffPersonNames"
                            [value]="name"
                        >
                            {{ name }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <span class="date-label">
                        Dropoff Date:
                    </span>
                </div>

                <!-- dropoff date -->
                <div class="col">
                    <input
                        formControlName="dropoffDate"
                        type="date"
                    />
                </div>
            </div>

            <div class="row center">
                <!-- submit -->
                <div class="col">
                    <button [disabled]="_form.invalid" type="submit">
                        Deliver My Dog
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
